---
head:
    seo:
        title: "Contacts | Roberto Vicario"
        description: "Discover the work and projects of Roberto Vicario, a software engineer specializing in web development, cloud computing, and AI. Explore his portfolio and get in touch today."
        keywords: "Roberto Vicario, Software Engineer, Computer Science, Web Development, Cloud Computing, AI, Bsc, MSc, Portfolio"
        robots: "index, follow"
    cookie_banner: true
theme:
    mode: "light"
navbar:
    fixed: true
    actived_elements: ["", "", "", "active"]
---

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Head -->
    {% include core/head.html %}
     
</head>

<body>

    <!-- Header -->
    {% include components/header.html %}

    <!-- Contacts -->
    {% include pages/contacts.html %}

    <!-- Footer -->
    {% include components/footer.html %}

    <!-- Scripts -->
    {% include components/scripts.html %}
    
</body>

</html>