---
head:
    seo:
        title: "Roberto Vicario | Software Engineer"
        description: "Discover the work and projects of Roberto Vicario, a software engineer specializing in web development, cloud computing, and AI. Explore his portfolio and get in touch today."
        keywords: "Roberto Vicario, Software Engineer, Computer Science, Web Development, Cloud Computing, AI, Bsc, MSc, Portfolio"
        robots: "index, follow"
    cookie_banner: true
theme:
    mode: "dark"
navbar:
    fixed: true
    actived_elements: ["active", "", "", ""]
---

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Head -->
    {% include core/head.html %}
     
</head>

<body class="bg-dark">

    <!-- Header -->
    {% include components/header.html %}

    <!-- Home -->
    {% include pages/home.html %}

    <!-- Scripts -->
    {% include components/scripts.html %}
    
</body>

</html>