---
head:
    seo:
        title: "Portfolio - Roberto Vicario"
        description: "Discover the work and projects of Roberto Vicario, a software engineer specializing in web development, cloud computing, and AI. Explore his portfolio and get in touch today."
        keywords: "Roberto Vicario, Software Engineer, Computer Science, Web Development, Cloud Computing, AI, Bsc, MSc, Portfolio"
        robots: "noindex, nofollow"
    cookie_banner: false
theme:
    mode: "light"
navbar:
    fixed: false
---

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head -->
    {% include head.html %}

    <!-- TODO: Improve SEO -->
</head>

<body>

    <!-- Header -->
    {% include header.html %}

    <!-- Content -->
    {% include single-project.html %}

    <!-- Footer -->
    {% include footer.html %}

    <!-- Scripts -->
    {% include scripts.html %}
    
</body>

</html>