<footer class="w-full py-12 border-t border-[#ffffff10]">
	<div class="max-w-5xl mx-auto">
		<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
			<div>
				<h3
					class="text-lg font-semibold text-[var(--white-icon)] mb-4 text-center md:text-left"
				>
					Menu
				</h3>
				<ul class="space-y-2 text-center md:text-left"
					<li>
						<a
							href="#home"
							class="text-sm text-[var(--white-icon)] hover:underline"
							>Home</a
						>
					</li>
					<li>
						<a
							href="#about"
							class="text-sm text-[var(--white-icon)] hover:underline"
							>About</a
						>
					</li>
					<li>
						<a
							href="#projects"
							class="text-sm text-[var(--white-icon)] hover:underline"
							>Projects</a
						>
					</li>
					<li>
						<a
							href="#contact"
							class="text-sm text-[var(--white-icon)] hover:underline"
							>Contact</a
						>
					</li>
				</ul>
			</div>
			<div>
				<h3 class="text-lg font-semibold text-[var(--white-icon)] mb-4 text-center md:text-left">
					Information
				</h3>
				<ul class="space-y-2 text-center md:text-left">
					<li class="text-sm text-[var(--white-icon)]">
						Roberto Vicario
					</li>
					<li class="text-sm text-[var(--white-icon)]">
						Software Engineer
					</li>
					<li class="text-sm text-[var(--white-icon)]">
						Location: Milan, Italy
					</li>
				</ul>
			</div>
			<div>
				<h3 class="text-lg font-semibold text-[var(--white-icon)] mb-4 text-center md:text-left">
					Policies
				</h3>
				<ul class="space-y-2 text-center md:text-left">
					<li>
						<a
							href="#"
							class="text-sm text-[var(--white-icon)] hover:underline"
							>Terms & Conditions</a
						>
					</li>
					<li>
						<a
							href="#"
							class="text-sm text-[var(--white-icon)] hover:underline"
							>Privacy Policy</a
						>
					</li>
					<li>
						<a
							href="#"
							class="text-sm text-[var(--white-icon)] hover:underline"
							>Cookie Policy</a
						>
					</li>
				</ul>
			</div>
			<div>
				<h3 class="text-lg font-semibold text-[var(--white-icon)] mb-4 text-center md:text-left">
					Social Network
				</h3>
				<ul class="space-y-2 text-center md:text-left">
					<li>
						<a
							href="https://www.instagram.com/robertovicario__"
							class="text-sm text-[var(--white-icon)] hover:underline"
							>Instagram</a
						>
					</li>
					<li>
						<a
							href="https://www.linkedin.com/in/robertovicario"
							class="text-sm text-[var(--white-icon)] hover:underline"
							>LinkedIn</a
						>
					</li>
					<li>
						<a
							href="https://twitter.com/robertovicario"
							class="text-sm text-[var(--white-icon)] hover:underline"
							>GitHub</a
						>
					</li>
				</ul>
			</div>
		</div>
		<div class="mt-12 pt-8 border-t border-[#ffffff10]">
			<p class="text-center text-sm text-[var(--white-icon)] space-y-2">
				<span class="block sm:inline"
					>Copyright © 2025 <a
						href="https://github.com/robertovicario"
						>Roberto Vicario</a
					>. All rights reserved.</span
				>
			</p>
		</div>
	</div>
</footer>
