<!-- Meta -->
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>

<!-- SEO-->
{% include seo.html %}

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="192x192" href="assets/img/favicons/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="assets/img/favicons/android-chrome-512x512.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
<link rel="manifest" href="assets/img/favicons/site.webmanifest">
<link rel="shortcut icon" href="assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#000000">

<!-- TODO: Improve libraries structure -->
<!-- Swiper -->
<link rel="stylesheet" href="assets/vendor/swiper/dist/css/swiper.min.css" />
<!-- Fancybox -->
<link rel="stylesheet" href="assets/vendor/fancybox/dist/jquery.fancybox.min.css" />
<!-- Themebau -->
<link rel="stylesheet" href="assets/css/themebau.min.css">
<!-- Custom Styles -->
<link rel="stylesheet" href="assets/css/custom.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<!-- jQuery -->
<script src="assets/vendor/jquery/dist/jquery.min.js"></script>

{% if page.cookie_banner != false %}
<!-- TODO: Fix cookie banner -->
<!-- Cookie Banner -->
<script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/9189213e8f03f02ecb6890ed/script.js"></script>
{% endif %}