<div class="content-wrap">
    <div class="container pt-130 pb-130 mt-n10">
        <div class="row gh-1 gv-1 align-items-center align-items-lg-stretch flex-column flex-lg-row">
            <div class="col-12 col-md-6 col-lg-5 shape-parent lines-style-5 order-1 show-on-scroll" data-show-duration="600" data-show-distance="10" data-show-delay="100">
                <img class="w-100 rounded-circle" src="assets/img/avatar/Profile-Social.png" alt="">
                <div class="shape justify-content-end">
                    <svg class="mt-n60" width="125" height="125" viewBox="0 0 125 125" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="62.5" cy="62.5" r="62.5" fill="#F5F5F5"/>
                    </svg>
                </div>
                <div class="line"></div>
            </div>
            <div class="col-lg-1 d-none d-lg-block order-2 order-lg-2"></div>
            <div class="col-12 col-lg ms-lg-n30 order-4 order-lg-3 show-on-scroll" data-show-duration="600" data-show-distance="10">
                <p class="subtitle pt-30 mt-n7">Roberto Vicario</p>
                <h1 class="h2">About me ✌🏻</h1>
                <!-- Nav tabs -->
                <ul class="nav nav-pills nav-tabs nav-no-gap pt-5 pb-7 mb-30" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><span class="nav-link-name">short bio</span></a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><span class="nav-link-name">long bio</span></a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <p class="mb-0">Hello there! I spawned in this universe back in 2000 with a singular purpose: to contribute to the realm of scientific research as a Computer Scientist.</p>
                    </div>
                    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <p class="mb-30">Hello there! I spawned in this universe back in 2000 with a singular purpose: to contribute to the realm of scientific research as a Computer Scientist.</p>
                        <p class="mb-0">My journey began with a fascination for technology and its potential to solve complex problems. This curiosity guided me through my formative years, where I explored various aspects of computing, programming, and mathematics. With each step in my journey, I strive to blend my technical expertise with a genuine desire to contribute positively to society. I look forward to collaborating with like-minded individuals and continuing to push the boundaries of what's possible in the field of computer science.</p>
                    </div>
                </div>
                <div class="accordion mt-40 pt-5" id="accordionAbout">
                    <!-- Experience -->
                    <div class="accordion-item">
                        <button class="h4 btn btn-link btn-clean btn-dark btn-block w-100" data-bs-target="#collapseExperience" type="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseExperience">
                            <span class="accordion-item-icon">👨🏻‍💻</span>Experience<svg class="accordion-item-plus" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 0V16" stroke="currentColor" stroke-width="1.3"/>
                                <path d="M0 8H16" stroke="currentColor" stroke-width="1.3"/>
                            </svg>
                        </button>
                        <div id="collapseExperience" class="collapse show" data-parent="#accordionAbout">
                            <div class="collapse-content">
                                <p class="mb-0 font-size-16">
                                    10/2024 – Present • 3 months
                                    <br>
                                    <strong>Software Engineer</strong> at <a href="https://www.motusml.com" target="_blank" rel="noopener noreferrer nofollow">Motus ml</a>
                                </p>
                                <br>
                                <p class="mb-0 font-size-16">
                                    10/2023 – 01/2024 • 4 months
                                    <br>
                                    <strong>Research Assistant</strong> at <a href="https://www.uninsubria.it/rubrica/dipartimento-di-scienze-teoriche-e-applicate" target="_blank" rel="noopener noreferrer nofollow">DiSTA Department at University of Insubria</a>
                                </p>
                                <br>
                                <p class="mb-0 font-size-16">
                                    06/2022 – 08/2023 • 1 year, 2 months
                                    <br>
                                    <strong>Software Engineer</strong> at <a href="https://www.nunchicommunication.com" target="_blank" rel="noopener noreferrer nofollow">Nunchi</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Education -->
                    <div class="accordion-item">
                        <button class="h4 btn btn-link btn-clean btn-dark btn-block w-100" data-bs-target="#collapseEducation" type="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapseEducation">
                            <span class="accordion-item-icon">👨🏻‍🎓</span>Education<svg class="accordion-item-plus" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 0V16" stroke="currentColor" stroke-width="1.3"/>
                                <path d="M0 8H16" stroke="currentColor" stroke-width="1.3"/>
                            </svg>
                        </button>
                        <div id="collapseEducation" class="collapse show" data-parent="#accordionAbout">
                            <div class="collapse-content">
                                <p class="mb-0 font-size-16">
                                    10/2024 – Ongoing
                                    <br>
                                    <strong>MSc in Computer Science</strong>
                                    <span> at </span>
                                    <a href="https://www.uninsubria.it" target="_blank" rel="noopener noreferrer nofollow">University of Insubria</a>
                                    <br>
                                    <strong>• Average Grade:</strong>
                                    <span> 27 / 30 </span>
                                    <br>
                                    <strong>• Thesis:</strong>
                                    <span> Ongoing</span>
                                </p>
                                <br>
                                <p class="mb-0 font-size-16">
                                    10/2020 - 02/2024
                                    <br>
                                    <strong>BSc in Computer Science</strong>
                                    <span> at </span>
                                    <a href="https://www.uninsubria.it" target="_blank" rel="noopener noreferrer nofollow">University of Insubria</a>
                                    <br>
                                    <strong>• Grade:</strong>
                                    <span> 91 / 110 </span>
                                    <br>
                                    <strong>• Thesis:</strong>
                                    <span> </span>
                                    <a href="https://www.robertovicario.com/single-project.html?project=BSc-Thesis" target="_blank" rel="noopener noreferrer">Apply Machine Learning for Stress Detection in Office Work Environments</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Skills -->
                    <div class="accordion-item">
                        <button class="h4 btn btn-link btn-clean btn-dark btn-block w-100" data-bs-target="#collapseSkills" type="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseSkills">
                            <span class="accordion-item-icon">🚀</span>Skills<svg class="accordion-item-plus" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 0V16" stroke="currentColor" stroke-width="1.3"/>
                                <path d="M0 8H16" stroke="currentColor" stroke-width="1.3"/>
                            </svg>
                        </button>
                        <div id="collapseSkills" class="collapse" data-parent="#accordionAbout">
                            <div class="collapse-content">
                                <h6>Languages<br>
                                    <img src="https://skillicons.dev/icons?i=java,c,cpp,python&theme=light" style="margin-top: 8px;margin-bottom: 8px;"/>
                                    <img src="https://skillicons.dev/icons?i=js,bash&theme=light" style="margin-top: 8px;margin-bottom: 8px;"/>
                                </h6>
                                <h6>Web Development<br>
                                    <img src="https://skillicons.dev/icons?i=html,css,bootstrap,django&theme=light" style="margin-top: 8px;margin-bottom: 8px;"/>
                                    <img src="https://skillicons.dev/icons?i=react,wordpress&theme=light" style="margin-top: 8px;margin-bottom: 8px;"/>
                                </h6>
                                <h6>DevOps and Cloud Computing<br>
                                    <img src="https://skillicons.dev/icons?i=spring,docker,kubernetes,git&theme=light" style="margin-top: 8px;margin-bottom: 8px;"/>
                                    <img src="https://skillicons.dev/icons?i=gcp,terraform&theme=light" style="margin-top: 8px;margin-bottom: 8px;"/>
                                </h6>
                                <h6>Databases<br>
                                    <img src="https://skillicons.dev/icons?i=mysql,postgres,sqlite,mongodb&theme=light" style="margin-top: 8px;margin-bottom: 8px;"/>
                                    <img src="https://skillicons.dev/icons?i=hibernate,firebase&theme=light" style="margin-top: 8px;margin-bottom: 8px;"/>
                                </h6>
                                <h6>Research and AI<br>
                                    <img src="https://skillicons.dev/icons?i=r,scala,matlab,sklearn&theme=light" style="margin-top: 8px;margin-bottom: 8px;"/>
                                    <img src="https://skillicons.dev/icons?i=pytorch,tensorflow&theme=light" style="margin-top: 8px;margin-bottom: 8px;"/>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <!-- Projects -->
                    <div class="accordion-item">
                        <button class="h4 btn btn-link btn-clean btn-dark btn-block w-100" data-bs-target="#collapseProjects" type="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseProjects">
                            <span class="accordion-item-icon">📓</span>Projects<svg class="accordion-item-plus" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 0V16" stroke="currentColor" stroke-width="1.3"/>
                                <path d="M0 8H16" stroke="currentColor" stroke-width="1.3"/>
                            </svg>
                        </button>
                        <div id="collapseProjects" class="collapse" data-parent="#accordionAbout">
                            <div class="collapse-content">
                                <p class="mb-0 font-size-16">
                                    <strong><a href="https://www.robertovicario.com/single-project.html?project=2UML" target="_blank" rel="noopener noreferrer">2UML</a></strong> – Project<br>
                                    A user-friendly tool that generates UMLs starting from natural language inputs.
                                </p><br>
                                <p class="mb-0 font-size-16">
                                    <strong><a href="https://www.robertovicario.com/single-project.html?project=SUPSI-Semester-Project" target="_blank" rel="noopener noreferrer">SUPSI Semester Project</a></strong> – Research<br>
                                    C++ implementations of the most popular and best performing consistent hashing algorithms for non-peer-to-peer contexts.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- More -->
                    <div class="accordion-item">
                        <button class="h4 btn btn-link btn-clean btn-dark btn-block w-100" data-bs-target="#collapseMore" type="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseMore">
                            <span class="accordion-item-icon">📁</span>More<svg class="accordion-item-plus" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 0V16" stroke="currentColor" stroke-width="1.3"/>
                                <path d="M0 8H16" stroke="currentColor" stroke-width="1.3"/>
                            </svg>
                        </button>
                        <div id="collapseMore" class="collapse" data-parent="#accordionAbout">
                            <div class="collapse-content">
                                <p class="mb-0 font-size-16">
                                    03/2024 – 09/2024<br>
                                    <strong>Exchange Program</strong> at <a href="https://www.supsi.ch" target="_blank" rel="noopener noreferrer nofollow">SUPSI</a><br>
                                    I attended the <a href="https://www.msengineering.ch" target="_blank" rel="noopener noreferrer nofollow">Swiss MSE</a> program, focusing on engineering and AI, with some modules completed at the <a href="https://www.zhaw.ch" target="_blank" rel="noopener noreferrer nofollow">University of Applied Sciences of Zürich</a>.
                                </p><br>
                                <p class="mb-0 font-size-16">
                                    <strong><a href="https://www.coursera.org/account/accomplishments/specialization/FOMIHG0TDH02" target="_blank" rel="noopener noreferrer nofollow">DevOps on AWS Specialization</a></strong> from Amazon Web Services (AWS)
                                </p><br>
                                <p class="mb-0 font-size-16">
                                    <strong><a href="https://www.coursera.org/account/accomplishments/specialization/V7HDTZUQHYVC" target="_blank" rel="noopener noreferrer nofollow">Cybersecurity Attack and Defense Fundamentals Specialization</a></strong> from EC-Council
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="https://raw.githubusercontent.com/robertovicario/robertovicario/main/docs/robertovicario_CV.pdf" target="_blank" rel="noopener noreferrer nofollow" download class="btn btn-dark btn-with-ball mt-60">download CV</a>
            </div>
            <div class="col-auto col-lg-1 order-3 order-lg-4">
                <div class="sticky-top d-flex justify-content-lg-end pt-30">
                    <ul class="nav nav-gap-sm d-inline-flex align-items-center flex-lg-column">
                        <li class="nav-item">
                            <a href="https://www.instagram.com/__roberrevil" target="_blank" rel="noopener noreferrer" class="nav-link">
                                <i class="fa-brands fa-instagram" style="font-size: 24px;"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.linkedin.com/in/robertovicario" target="_blank" rel="noopener noreferrer" class="nav-link">
                                <i class="fa-brands fa-linkedin-in" style="font-size: 24px;"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://github.com/robertovicario" target="_blank" rel="noopener noreferrer" class="nav-link">
                                <i class="fa-brands fa-github" style="font-size: 24px;"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>