<div class="content-wrap">
    <div class="swiper text-white swiper-fullscreen-vertical" data-swiper-slides="1" data-swiper-speed="600" data-swiper-vertical="true">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card-wrapper h-100">
                        <a class="card card-fullscreen text-white" href="about.html" data-cursor-style="cursor-circle" data-cursor-text="view">
                            <span class="card-img">
                                <img src="assets/img/home/1.png" alt="">
                                <span class="background-color" style="background-color: rgba(14, 14, 14, .2);"></span>
                            </span>
                            <span class="card-img-overlay container">
                                <h2 class="card-title h1 mb-0"><span class="card-title-decoration"></span>Hi, I'm Roberto 👋🏻<br><br><h5 class="mb-0 text-white">Software Engineer<br>@motusml</h5></h2>
                                <span class="btn btn-clean">about me<svg class="icon-arrow icon-arrow-right" width='26' height='11' viewBox='0 0 26 11' fill='none' xmlns='http://www.w3.org/2000/svg'>
                                        <path d='M20.5 1L25 5.5L20.5 10' stroke='currentColor' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round' />
                                        <path d='M7 5.5H25' stroke='currentColor' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round' />
                                    </svg></span>
                            </span>
                        </a>
                        <div class="card-social-container container">
                            <ul class="card-social nav nav-gap-md align-items-center flex-column text-white">
                                <li class="nav-item">
                                    <a href="https://www.instagram.com/__roberrevil" target="_blank" rel="noopener noreferrer" class="nav-link">
                                        <i class="fa-brands fa-instagram" style="font-size: 24px;"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://www.linkedin.com/in/robertovicario" target="_blank" rel="noopener noreferrer" class="nav-link">
                                        <i class="fa-brands fa-linkedin-in" style="font-size: 24px;"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://github.com/robertovicario" target="_blank" rel="noopener noreferrer" class="nav-link">
                                        <i class="fa-brands fa-github" style="font-size: 24px;"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card-wrapper h-100">
                        <a class="card card-fullscreen text-white" href="portfolio.html" data-cursor-style="cursor-circle" data-cursor-text="view">
                            <span class="card-img">
                                <img src="assets/img/home/2.png" alt="">
                                <span class="background-color" style="background-color: rgba(14, 14, 14, .2);"></span>
                            </span>
                            <span class="card-img-overlay container">
                                <h2 class="card-title h1 mb-0"><span class="card-title-decoration"></span>Explore my portfolio 🤟🏻</h2>
                                <span class="btn btn-clean">learn more<svg class="icon-arrow icon-arrow-right" width='26' height='11' viewBox='0 0 26 11' fill='none' xmlns='http://www.w3.org/2000/svg'>
                                        <path d='M20.5 1L25 5.5L20.5 10' stroke='currentColor' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round' />
                                        <path d='M7 5.5H25' stroke='currentColor' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round' />
                                    </svg></span>
                            </span>
                        </a>
                        <div class="card-social-container container">
                            <ul class="card-social nav nav-gap-md align-items-center flex-column text-white">
                                <li class="nav-item">
                                    <a href="https://www.instagram.com/__roberrevil" target="_blank" rel="noopener noreferrer" class="nav-link">
                                        <i class="fa-brands fa-instagram" style="font-size: 24px;"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://www.linkedin.com/in/robertovicario" target="_blank" rel="noopener noreferrer" class="nav-link">
                                        <i class="fa-brands fa-linkedin-in" style="font-size: 24px;"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://github.com/robertovicario" target="_blank" rel="noopener noreferrer" class="nav-link">
                                        <i class="fa-brands fa-github" style="font-size: 24px;"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card-wrapper h-100">
                        <a class="card card-fullscreen text-white" href="contacts.html" data-cursor-style="cursor-circle" data-cursor-text="view">
                            <span class="card-img">
                                <img src="assets/img/home/3.png" alt="">
                                <span class="background-color" style="background-color: rgba(14, 14, 14, .2);"></span>
                            </span>
                            <span class="card-img-overlay container">
                                <h2 class="card-title h1 mb-0"><span class="card-title-decoration"></span>Let's get in touch 🤙🏻</h2>
                                <span class="btn btn-clean">contact me<svg class="icon-arrow icon-arrow-right" width='26' height='11' viewBox='0 0 26 11' fill='none' xmlns='http://www.w3.org/2000/svg'>
                                        <path d='M20.5 1L25 5.5L20.5 10' stroke='currentColor' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round' />
                                        <path d='M7 5.5H25' stroke='currentColor' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round' />
                                    </svg></span>
                            </span>
                        </a>
                        <div class="card-social-container container">
                            <ul class="card-social nav nav-gap-md align-items-center flex-column text-white">
                                <li class="nav-item">
                                    <a href="https://www.instagram.com/__roberrevil" target="_blank" rel="noopener noreferrer" class="nav-link">
                                        <i class="fa-brands fa-instagram" style="font-size: 24px;"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://www.linkedin.com/in/robertovicario" target="_blank" rel="noopener noreferrer" class="nav-link">
                                        <i class="fa-brands fa-linkedin-in" style="font-size: 24px;"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://github.com/robertovicario" target="_blank" rel="noopener noreferrer" class="nav-link">
                                        <i class="fa-brands fa-github" style="font-size: 24px;"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination-wrapper container justify-content-end">
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>