<footer class="footer bg-dark text-white shape-parent overflow-hidden text-center pt-60 pb-60">
    <div class="shape align-items-end justify-content-center">
        <svg data-rellax-speed="2" width="641" height="371" viewBox="0 0 641 371" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="320.5" cy="320.5" r="320.5" fill=" #202020" />
        </svg>
    </div>
    <div class="container">
        <ul class="nav nav-social nav-gap-sm align-items-center justify-content-center mb-25 text-white">
            <li class="nav-item">
                <a href="https://www.instagram.com/__roberrevil" target="_blank" rel="noopener noreferrer" class="nav-link">
                    <i class="fa-brands fa-instagram" style="font-size: 24px;"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="https://www.linkedin.com/in/robertovicario" target="_blank" rel="noopener noreferrer" class="nav-link">
                    <i class="fa-brands fa-linkedin-in" style="font-size: 24px;"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="https://www.github.com/robertovicario" target="_blank" rel="noopener noreferrer" class="nav-link">
                    <i class="fa-brands fa-github" style="font-size: 24px;"></i>
                </a>
            </li>
        </ul>
        <div class="footer-copyright mb-5">
            <a href="/privacy-policy" class="mb-0 text-white font-size-16" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/cookie-policy" class="mb-0 text-white font-size-16" target="_blank" rel="noopener noreferrer">Cookie Policy</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" class="mb-0 text-white font-size-16" rel="noopener noreferrer">Cookie Banner</a>
            <br>
            <br>
            <p class="m-0">Copyright (c) <span>{{ page.time | date: '%Y' }}</span> Roberto Vicario. All rights reserved.</p>
        </div>
    </div>
</footer>