{% if page.theme.mode == 'light' %}
    {% assign theme_mode_navbar = '' %}
    {% assign theme_mode_logo = 'Logo-2.svg' %}
{% else %}
    {% assign theme_mode_navbar = 'navbar-dark' %}
    {% assign theme_mode_logo = 'Logo-1.svg' %}
{% endif %}

{% if page.navbar.fixed %}
    {% assign navbar_fixed = 'navbar-fixed' %}
{% else %}
    {% assign navbar_fixed = '' %}
{% endif %}

<!-- Navbar -->
<header class="navbar navbar-top navbar-expand {{ theme_mode_navbar }} {{ navbar_fixed }}">
    <div class="container justify-content-between">
        <a class="navbar-brand" href="/">
            <img width="64" src="assets/img/{{ theme_mode_logo }}" alt="{{ theme_mode_logo }}">
        </a>
        <a class="navbar-toggle" href="#navbar-mobile-style-2" data-fancybox data-base-class="fancybox-navbar" data-keyboard="false" data-auto-focus="false" data-touch="false" data-close-existing="true" data-small-btn="false" data-toolbar="false">
            <span></span>
            <span></span>
            <span></span>
        </a>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a href="/" class="nav-link">home</a>
            </li>
            <li class="nav-item">
                <a href="about.html" class="nav-link">about</a>
            </li>
            <li class="nav-item">
                <a href="portfolio.html" class="nav-link">portfolio</a>
            </li>
            <li class="nav-item">
                <a href="contacts.html" class="nav-link">contacts</a>
            </li>
        </ul>
        <ul class="nav nav-gap-sm navbar-nav nav-social align-items-center">
            <li class="nav-item">
                <a href="https://www.instagram.com/__roberrevil" target="_blank" rel="noopener noreferrer" class="nav-link">
                    <i class="fa-brands fa-instagram" style="font-size: 24px;"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="https://www.linkedin.com/in/robertovicario" target="_blank" rel="noopener noreferrer" class="nav-link">
                    <i class="fa-brands fa-linkedin-in" style="font-size: 24px;"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="https://www.github.com/robertovicario" target="_blank" rel="noopener noreferrer" class="nav-link">
                    <i class="fa-brands fa-github" style="font-size: 24px;"></i>
                </a>
            </li>
        </ul>
    </div>
</header>

<!-- Navbar Mobile -->
<div class="navbar navbar-mobile navbar-dark navbar-mobile-style-2" id="navbar-mobile-style-2">
    <div class="shape justify-content-end">
      <svg data-rellax-speed="0" width="544" height="362" viewBox="0 0 544 362" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="320.5" cy="41.5" r="320.5" fill="#202020"/>
      </svg>
    </div>
    <div class="navbar-head">
        <div class="container justify-content-between">
            <div></div>
            <a class="navbar-toggle" href="#" data-fancybox-close>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row gh-1 justify-content-center">
            <div class="col-12 col-md-7 col-lg-5 col-xl-4">
                <div class="navbar-body">
                    <ul class="nav navbar-nav navbar-nav-collapse">
                        <li class="nav-item {{ page.navbar.actived_elements[0] }}">
                            <a href="/" class="nav-link">
                                <span class="nav-link-name">home</span>
                                <svg class="collapse-icon" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 11L6 6L1 1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </li>
                        <li class="nav-item {{ page.navbar.actived_elements[1] }}">
                            <a href="about.html" class="nav-link">
                                <span class="nav-link-name">about</span>
                                <svg class="collapse-icon" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 11L6 6L1 1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </li>
                        <li class="nav-item {{ page.navbar.actived_elements[2] }}">
                            <a href="portfolio.html" class="nav-link">
                                <span class="nav-link-name">portfolio</span>
                                <svg class="collapse-icon" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 11L6 6L1 1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </li>
                        <li class="nav-item {{ page.navbar.actived_elements[3] }}">
                            <a href="contacts.html" class="nav-link">
                                <span class="nav-link-name">contacts</span>
                                <svg class="collapse-icon" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 11L6 6L1 1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1 d-none d-md-block"></div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                <div class="navbar-footer">
                    <div class="mb-60 text-white">
                        <p class="lead mb-17 fw-medium"><strong>Email:</strong></p>
                        <ul class="list-group borderless font-size-17">
                            <li class="list-group-item"><a href="mailto:robertovicario.com@gmail.com" class="text-decoration-none text-white">robertovicario.com@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="mb-60 text-white">
                        <p class="lead mb-17 fw-medium"><strong>Location:</strong></p>
                        <ul class="list-group borderless font-size-17">
                            <li class="list-group-item">Como, Italy</li>
                            <li class="list-group-item">Milan, Italy</li>
                            <li class="list-group-item">Lugano, Switzerland</li>
                        </ul>
                    </div>
                    <ul class="nav nav-gap-sm navbar-nav nav-social align-items-center mt-n10">
                        <li class="nav-item">
                            <a href="https://www.instagram.com/__roberrevil" target="_blank" rel="noopener noreferrer" class="nav-link">
                                <i class="fa-brands fa-instagram" style="font-size: 24px;"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.linkedin.com/in/robertovicario" target="_blank" rel="noopener noreferrer" class="nav-link">
                                <i class="fa-brands fa-linkedin-in" style="font-size: 24px;"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.github.com/robertovicario" target="_blank" rel="noopener noreferrer" class="nav-link">
                                <i class="fa-brands fa-github" style="font-size: 24px;"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>