---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html data-bs-theme="light" lang="en">
	<head>
		<!-- Meta -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
		/>

		<!-- Theme -->
		<title>{title}</title>
		<meta name="theme-color" content="#a476ff" />

		<!-- Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>

		<!-- Cookie -->
		<script
			id="cookieyes"
			type="text/javascript"
			src="https://cdn-cookieyes.com/client_data/9189213e8f03f02ecb6890ed/script.js"
		></script>
	</head>

	<body class="bg-[--background] md:px-48 lg:px-20 px-9">
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--background: #101010;
		--sec: #a476ff;
		--white: #dfdfdf;
		--white-icon: #f3f3f398;
		--white-icon-tr: #f3f3f310;
	}

	* {
		font-family:
			"montserrat",
			-apple-system,
			system-ui,
			sans-serif;
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}

	*::selection {
		background-color: var(--sec);
		color: var(--background);
	}

	::-webkit-scrollbar {
		width: 15px;
	}

	::-webkit-scrollbar-track {
		background: var(--container);
		border-radius: 30px;
	}

	::-webkit-scrollbar-thumb {
		background: var(--background);
		border-radius: 10px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: var(--pink);
	}

	* {
		scrollbar-width: thin;
		scrollbar-color: var(--line) var(--container);
	}

	a.cky-policy {
		color: var(--sec) !important;
	}

	.cky-consent-container .cky-consent-bar {
		box-shadow: none !important;
	}

	.cky-btn-accept {
		background-color: var(--sec) !important;
		color: white !important;
		border-color: var(--sec) !important;
	}

	.cky-btn-reject {
		background-color: transparent !important;
		color: var(--sec) !important;
		border-color: var(--sec) !important;
	}

	.cky-btn-customize {
		background-color: transparent !important;
		color: var(--sec) !important;
		border-color: var(--sec) !important;
	}
</style>
